.top{
background-color: #d4a373;
}

a{
    color: white;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.search{
    color: white;
    background-color: #73A4D4;
}

.pet-img{
    width: 288px;
    height: 190px;
}

.carousel-img {
    width: 800px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    object-fit: fit; /* Maintain aspect ratio */
  }

  .title{
    color: #d4a373;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }